.slide{
margin:auto;
margin-top: 100px;
width: 1200px;
height:230px;

}
div.cuadrado{
    width: 200px;
    height:200px;
    float:left;
    transition: height 0.4s;
}
div#uno{
    background-color: rgb(208,101,3);
}

div#dos{
    background-color: rgb(233,147,26);
}
div#tres{
    background-color: rgb(22,145,190);
}
div#cuatro{
    background-color: rgb(22,107,162);
}
div#cinco{
    background-color: rgb(27,54,71);
}
div#seis{
    background-color: rgb(21,40,54);
}
img.icono{
    display: block;
    margin:50px auto;
    padding:15px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 20%;
}

p.texto{
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top:8px;
    opacity: 0.6;
}

.cuadrado:hover{
    height: 250px;

}
.cuadrado:hover p.texto{
    padding-top:28px;
    opacity:1;
}
